<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Video Chat</title>
        <link href="bootstrap.min.css" rel="stylesheet" />
        <!-- <script src="bootstrap.bundle.min.js"></script>
        <script src="bootstrap.min.js"></script> -->
        
    </head>
    <body>
        <div class="container">
            <form action="create-room" method="POST"> 
                <button id="generate-codate" class="btn btn-primary">
                    Create Room
                </button>
            </form>
        </div>
    </body>
</html>
