<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Server</title>
</head>
<body>
    <div class="container">
        <video class="video-large" autoplay></video>
        <div class="users-container" id="users-container">
            <h4>Users</h4>
            <div id="users"></div>
        </div>
    <div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js" integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ==" crossorigin="anonymous"></script>
   <script type="module" src="/index.js"></script>
</body>
</html>
